/* .NiceMap {
    display:flex;
    padding-left: 20px;
    }
    
    .leaflet-container{
    display: flex;
    Width: 70%;
    height: 70vh;
    justify-items: left;
    } */


.leaflet-container{
/* display: flex; */
Width: 90%;
height: 70vh;
/* padding: 20%; */
/* justify-items: center; */

}


.split {
height: 100%;
width: 50%;
position: fixed;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-top: 5px;
}

.left {
left: 0;
background-color: #2c432d;


}

.right {
right: 0;
background-color: #ffede2;
color: #4C5D72;
}


.BackButton{
    /* display: flex; */
padding-left: 33%;
/* padding-top: 50px; */
}








      /* .centered {
        display: flex;
        padding-top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      } */
/* 
      .mapPositioning{
        position: absolute;
        padding-top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      } */




/*with bootstrap
      /* .leftside, .rightside{
          height:100vh;
          width: 100%;
      }

      .leftside {
        left: 0;
        background-color: #2c432d;
        
        
        }
        
        .rightside {
        right: 0;
        background-color: #ffede2;
        color: #4C5D72;
        } */



/*with split css3
        /* .split {
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 5px;
            }
            
            .left {
            left: 0;
            background-color: #2c432d;
            
            
            }
            
            .right {
            right: 0;
            background-color: #ffede2;
            color: #4C5D72;
            } */